<!DOCTYPE html>
<html lang="en">

<head>
	<title>Criar Sensores</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="description" content="Portal - Bootstrap 5 Admin Dashboard Template For Developers">
	<meta name="author" content="Xiaoying Riley at 3rd Wave Media">
	<link rel="shortcut icon" href="favicon.ico">

	<!-- FontAwesome JS-->
	<script defer src="/assets/js/app.js"></script>

	<!-- App CSS -->
	<link id="theme-style" rel="stylesheet" href="/assets/css/portal.css">

</head>
<%-include ('nav.ejs')%>

	<div class="app-wrapper">

		<div class="app-content pt-3 p-md-3 p-lg-4">
			<div class="container-xl">

				
                <div class="mb-5">
                    <h2>Criar Log de Temperatura</h2>
                    <form id="createTemperatureLogForm">
                        <div class="mb-3">
                            <label for="sensorId" class="form-label">ID do Sensor</label>
                            <input type="number" class="form-control" id="sensorId" required>
                        </div>
                        <div class="mb-3">
                            <label for="temperature" class="form-label">Temperatura</label>
                            <input type="number" class="form-control" id="temperature" required>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="createTemperatureLog()">Criar Log de Temperatura</button>
                    </form>
                </div>
        

			</div><!--//container-fluid-->
		</div><!--//app-content-->

		<footer class="app-footer">
			<div class="container text-center py-3">
				<!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
				<small class="copyright">Designed with <span class="sr-only">love</span><i class="fas fa-heart"
						style="color: #fb866a;"></i> by <a class="app-link" href="http://themes.3rdwavemedia.com"
						target="_blank">Xiaoying Riley</a> for developers</small>

			</div>
		</footer><!--//app-footer-->

	</div><!--//app-wrapper-->


	<!-- Javascript -->
	<script src="/assets/plugins/popper.min.js"></script>
	<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>


	<!-- Page Specific JS -->
	<script src="/assets/js/app.js"></script>
	<script>
		
        
        async function createTemperatureLog() {
            const timestamp = Date.now(); // Obter o timestamp em milissegundos

        const date = new Date(timestamp); // Criar um objeto Date a partir do timestamp
        const formattedTimestamp = date.toISOString(); // Formatar a data no formato ISO 8601 (timestamp do banco)

        console.log(date);
            const temperatureLogData = {
                sensor_id: parseInt(document.getElementById('sensorId').value),
                temperature: parseFloat(document.getElementById('temperature').value),
                time_write: formattedTimestamp,
            };

            const response = await fetch('/api/temperature-logs', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(temperatureLogData)
            });

            if (response.ok) {
                alert('Log de temperatura criado com sucesso!');
            } else {
                alert('Erro ao criar log de temperatura.');
            }
        }

	</script>

	</body>

</html>